* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #b299e6;   /* 75% Medium Purple */

  /* #b299e6;   75% Medium Purple */

  height: 80px;
  justify-content: flex-end;
  padding-right: 10px;
  color: white;
}

.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #708090; /* Slate Gray */
	position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
	width: 100%;
}

.button {
	float: left;
	color: white;
  width: 16.666666667%;
}

a {
	display: block;
  padding: 8px;
	color: white;
}

.button:link,
.button:visited,
.button:hover,
.button:active,
.button:visited:active,
.button:visited:hover {
	color: white;
}

.button:hover {
	background-color: #white;
}

.current,
.current:visited,
.current:active,
.current:link,
.current:hover,
.current:visited:hover,
.current:visited:active {
	background-color: #b1a7bc; /* Sage Green */
}


.header {
  background-color: #b1d0b1; /* Sage Green */
  color: white;
}

.content {
  background-color: #EAEDF0;
  height: 600px;
}


/*mobile style*/
@media only screen and (max-width: 400px) {
* {
  font-size: .9em;
}

h1 {
  font-size: 1.9em;
}
  .section {
    flex-direction: column;
  }


}

/*Tablet styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  * {
    font-size: .95em;
  }

  h1 {
    font-size: 2em;
  }

  .section {
    flex-direction: column;
  }
}

/* Desktop Styles */
@media only screen (min-width: 961px) {
    .page {
      width: 960px;
      margin: 0 auto;
    }
    .header {
      height: 400px;
    }
    .content {
      order: 2;
    }
}
