body {
	margin: 0;
}

. {
	background-color: #ededed;
}


.page {
	width: 600px;
	margin: 0 auto;
	background-color: #F7F7F7;
	padding: 0;
}

a:link {
	color: #4682B4; /* Steel blue */
	text-decoration: none;
}

a:visited {
	color: #4682B4; /* Steel blue */
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}
a:visited:hover {
	color: #4682B4; /* Steel blue */
}

a:visited:active {
       color: #4682B4; /* Steel blue */
}

.header {
	background-color: #4682B4; /* Steel blue */
	color: #E6E6E6; /* white */
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	border-bottom: 2px solid #E6E6E6; /* White */

	height: 50px;
}

.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color: #708090; /* Slate Gray */
	position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
	width: 100%;
}

.button {
	float: left;
	border-right: 1px solid #bbb; /* Light gray */
	color: white;
}


a {
	display: block;
  padding: 8px;
	color: white;
}

.button:link,
.button:visited,
.button:hover,
.button:active,
.button:visited:active,
.button:visited:hover {
	color:white;
}

.button:hover {
	background-color: #7a8a9a; /* Slightly Lighter Slate Gray */
}

.current,
.current:visited,
.current:active,
.current:link,
.current:hover,
.current:visited:hover,
.current:visited:active {
	background-color: #4682B4;   /*Steel Blue */
}
